[2017-03-23 14:36] daviddias opened #1 "Use cases for CRDT"
Similar to https://github.com/libp2p/research-pubsub/blob/master/USECASES.md, we want to collect use cases for CRDT or new use cases that are only possible with CRDTs, this will motivate the discussion of certain aspects and also its development.

[2017-03-23 14:38] daviddias opened #2 "Research current CRDT implementations"
As an exercise, it would be useful to dissect CRDT implementations out there and understand its features and limitations. So far the list we have is:

- yjs
- swarmjs
- gun
- ssb
- hyperlog
- orbitdb

Please add others to this issue or PR to https://github.com/ipfs/research-CRDT#available-libraries-and-systems-using-crdt.

@pgte has volunteered to get this started.

[2017-03-23 16:48] noffle commented on #2
Some others that are worth looking at are [hypercore](https://github.com/mafintosh/hypercore), [hyperdrive](https://github.com/mafintosh/hyperdrive) (built on hypercore), and [flume-db](https://github.com/flumedb/flumedb). They're all based on views atop of an append-only log. While not CRDTs in themselves, there's good ideas here that are directly applicable (like lightweight materialized views).

[2017-04-06 16:01] ianopolous commented on #2
I believe I've invented a new Set CRDT that has better semantics than all known ones (in my opinion). This would also be very simple to implement. I'm surprised I can't find it in the existing literature as it seems like an obvious design.
https://github.com/ianopolous/crdt

[2017-04-07 10:30] haadcode commented on #2
In the IPFS world, there are:

- [ipfs-log](https://github.com/haadcode/ipfs-log), an append-only log CRDT for IPFS that is powering orbit-db and all its other CRDTs. ipfs-log itself uses a G-Set.
- orbit-db's Counter Store database uses a [G-Counter](https://github.com/haadcode/crdts/blob/master/src/G-Counter.js).

[2017-04-07 10:31] haadcode commented on #2
Basho has been doing (I believe) pioneer work on CRDTs in [Riak](http://docs.basho.com/riak/kv/2.2.3/learn/concepts/crdts/).

[2017-04-07 10:37] haadcode commented on #2
[Roshi](https://github.com/soundcloud/roshi) by [Soundcloud](https://developers.soundcloud.com/blog/roshi-a-crdt-system-for-timestamped-events) is for me personally a dear one not because I've used it, but because when I read their [documentation](https://github.com/soundcloud/roshi#crdt), it finally clicked and I understood what CRDTs are. And that's when I scribbled "orbit-db" literally on a nap

[2017-04-07 10:41] haadcode commented on #2
There are CRDTs in [Akka](http://doc.akka.io/docs/akka/snapshot/scala/distributed-data.html), started as an [experiment](https://github.com/jboner/akka-crdt) but now apparently production ready.

[2017-04-07 10:45] haadcode commented on #2
There's an implementation for the Logoot CRDT https://github.com/usecanvas/logoot-js (I haven't looked into this yet, it's a new one for me).

[2017-04-07 10:48] haadcode commented on #2
Almost forgot this one! [Replikativ](https://github.com/replikativ/replikativ) is written in Clojure and has [couple of CRDTs](https://github.com/replikativ/replikativ/tree/master/src/replikativ/crdt) implemented.

[2017-04-07 10:59] haadcode opened #3 "CRDT resources"
In addition to #2 "Research CRDT implementations", it'd be good to keep a list of resources on the topic of CRDTs.

When I was doing the research (2015 to early 2016), it was all hard to find and scattered across the web. More importantly, a lot of great knowledge is indeed in comments on [HN](https://hn.algolia.com/?query=crdt&sort=byPopularity&prefix&page=0&dateRange=all&type=story) or [GH](http

[2017-04-07 11:02] haadcode commented on #3
[Resources about CRDTs and scalability](https://syncfree.lip6.fr/index.php/crdt-resources) by the [SyncFree](https://syncfree.lip6.fr/) research project (which I believe was coordinated by M. Shapiro)

[2017-04-07 11:05] haadcode commented on #3
[Distributed systems for fun and profit - Chapter 5: Replication](http://book.mixu.net/distsys/eventual.html) has a part on CRDTs. I highly recommend to read the [full book](http://book.mixu.net/distsys/index.html) as there's plenty of golden information on distributed systems, [time and order](http://book.mixu.net/distsys/time.html), etc.

[2017-04-07 16:21] eigendude commented on #3
There's a good compilation here: http://christophermeiklejohn.com/crdt/2014/07/22/readings-in-crdts.html

[2017-04-07 16:22] eigendude commented on #3
and this thread has some references: https://github.com/ipfs/notes/issues/40

[2017-04-10 16:12] lachenmayer commented on #3
@pfrazee's [CRDT notes](https://github.com/pfrazee/crdt_notes) is a great summary with the most relevant excerpts from many papers.

[2017-04-13 05:36] diasdavid commented on #2
Another one - https://github.com/soundcloud/roshi - referenced by @lgierth

[2017-04-25 10:28] wanderer commented on #1
top two
* text editing
* chat

[2017-05-20 18:19] pgte opened #4 "IPFS integration with CRDT libraries"
Maybe a bit out of topic, but may be interesting to discuss some finer points.

In the context of the [IIIF-over-IPFS project](https://github.com/ipfs/notes/issues/240), I created [an IPFS connector for Yjs](https://github.com/pgte/y-ipfs-connector) (a CRDT library).
This allows any Yjs CRDTs to be exchanged from any in-browser peer.

[Demo (using a IIIF data structure) here](https://youtu.be/8xE1

[2017-05-28 21:09] diasdavid opened #5 "List out CDRT libraries that use IPFS"
@pgte could you add this to the Readme?

[2017-05-29 11:32] pgte commented on #5
Added Yjs through 2db18e6e77dd8c8b5d9d912d8db065a9d3b28e4d

[2017-06-27 09:56] daviddias opened #6 "playlist with awesome CRDT talks"
https://www.youtube.com/playlist?list=PLzUeAPxtWcqxBXjUelmcm5ORVjEpbUlHH

[2017-07-10 10:02] diasdavid commented on #6
Now one curated by the IPFS community:
https://www.youtube.com/playlist?list=PLuhRWgmPaHtSvjFsjaVm_Fj9nXuwW35Ai

[2017-07-12 14:26] diasdavid opened #7 "Tutorial: How to build an Collaborative Editing Application with IPFS using CRDT"
@pgte just released the `y-ipfs-connector` and a Video Tutorial explaining how to use it!

[![image](https://user-images.githubusercontent.com/1211152/28122513-4cbdaabc-6716-11e7-8626-ad8154687fe1.png)](https://www.youtube.com/watch?v=-kdx8rJd8rQ)

The video is very fun to watch and impressive how it requires so few lines of code to get it all set up!

Video at: https://www.youtube.com/watch?v=-kd

[2017-07-18 18:53] daviddias opened #8 "lightkone"
Learned about https://www.lightkone.eu/ today

![image](https://user-images.githubusercontent.com/1211152/28334312-a4145390-6baf-11e7-92e0-0b32b2e336c1.png)

https://www.lightkone.eu/index.php/talks/

[2017-08-13 12:03] neomodern commented on #2
[CryptPad](https://github.com/xwiki-contrib/chainpad) which uses the [ChainPad](https://github.com/xwiki-contrib/chainpad) realtime engine based on Nakamoto Blockchains.

[2017-08-28 11:20] gedw99 commented on #7
I have been using YJs and its impressive. It allows applications to be built on top of ipfs.

I am considering porting ups to golang so that it can be used to build microaervice on top of ipfs.

The event queue must crucially be stored on highly redundant storage. So ipfs is perfect here.
The materialised views can also of course be on ipfs.

What I am missing is security at rest. Blockade and oth

[2017-08-29 10:20] pgte commented on #7
It does not. At rest, you will have to encrypt your data, either by storing it encrypted in IPFS or, if you're worried only with data at rest locally, to implement a e encrypted data store (this last one is more far-fetched).

[2017-08-29 10:24] pgte commented on #7
Currently I'm working on [peerpad](https://github.com/ipfs-shipyard/peerpad), which aims to encrypt data at rest, but haven't yet. You can follow in [this issue](https://github.com/ipfs-shipyard/peerpad/issues/4) if you're interested.

[2017-08-29 10:49] gedw99 commented on #7
@pgte thanks for the update and your feedback... Really interesting work !

Where are you planning to store the key ?
- in the client OS key store ?
- generated into memory via a user / password combination. I saw blockade doing this and was not so sure how secure it is.

[2017-08-29 12:38] pgte commented on #7
@gedw99 In peerpad I don't plan to store it, it's in the URL, which you share if you want to give access to someone.

[2017-08-29 13:55] gedw99 commented on #7
ok nice and simple.
I guess the private key is stored off line ?
For the person your sharing with i guess they save it in their "friends" list ? This would allow them to get the first parties later later when they no longer have the public key shared to them.

[2017-08-29 21:21] pgte commented on #7
In peerpad each document has it's own set of keys.
You can find more in [this doc](https://github.com/ipfs-shipyard/peerpad/blob/master/docs/SECURITY.md).
Mind you that this security model suits well some use cases, but there are a lot other solutions for peer-to-peer security.

[2017-09-19 13:57] daviddias opened #9 "CRDT Playground"
Wish that there was a thing like http://learngitbranching.js.org/ for CRDTs :)

[2017-09-19 14:46] VictorBjelkholm commented on #9
Would be very useful for illustrating how things work! I seem to remember Orbit-db had a demo where changes where visualized some way, think it was made for Devcon but not sure. Were you thinking about something similar?

[2017-10-11 09:09] diasdavid commented on #1
Text editing is happening here \o/ https://github.com/ipfs-shipyard/peerpad
Chat is happening here \o/ https://github.com/orbitdb/orbit-web

[2017-10-18 05:33] haadcode commented on #3
Fresh out of research ["Pure Operation-Based Replicated Data Types"](https://arxiv.org/abs/1710.04469#)

[2017-11-04 17:07] pgte opened #11 "Generic CRDT library"
Currently, the CRDT protocol being used in [Peerpad](https://peerpad.net) is the native Y.js protocol, which is independent of IPFS. Each message is signed and encrypted, and then sent over the IPFS pubsub network for all participating nodes. In addition to that, individual p2p messages (Y.js requires individual p2p messages for bootstrapping) are channeled over libp2p connection using a specific

[2017-11-04 17:07] pgte commented on #11
/cc @diasdavid @haadcode @vyzo @nicola

[2017-12-06 13:36] gedw99 commented on #11
i used y.js 3 months ago and it was awesome. i mentioned to the authour of y.js that a golang version woudl be really useful and he said he wanted to do it. I guess he got side tracked.
I also got side tracked in doing it.
Approaching him again is a good idea i think because i reckon he woudl love to see IPFS and his CRDT stuff integrated

[2017-12-07 06:22] haadcode opened #14 "AntidoteDB"
AntidoteDB https://syncfree.github.io/antidote and the related discussion on Hacker News https://news.ycombinator.com/item?id=15862895.

This is developed a very strong group of leading experts in CRDTs, including @cmeiklejohn from https://github.com/ipfs/notes/issues/40.

This is great work! I love how similar it is to [OrbitDB](https://github.com/orbitdb/orbit-db) in terms of the underlying data

[2017-12-07 14:26] cmeiklejohn commented on #14
There's also my work on Lasp, which has an eventually-consistent CRDT key-value store embedded inside of it, part of the same SyncFree group.

[2017-12-08 04:41] haadcode opened #15 "Verifying Strong Eventual Consistency in Distributed Systems"
I found this presentation https://speakerdeck.com/ept/verifying-strong-eventual-consistency-in-distributed-systems to be excellent in communicating how eventual consistency works in relation to CRDTs. Highly recommended!

The associated paper is here http://martin.kleppmann.com/papers/crdt-isabelle-oopsla17.pdf.

[2017-12-08 04:49] haadcode opened #17 "A Conflict-Free Replicated JSON Datatype"
Came across to [A Conflict-Free Replicated JSON Datatype](https://arxiv.org/pdf/1608.03960.pdf) paper again and realized we don't have it here. Added a [PR to add the paper](https://github.com/ipfs/research-CRDT/pull/16) to the README.

There's an implementation [here](https://github.com/automerge/automerge) written by the author of the paper.

[2017-12-11 09:18] haadcode commented on #11
@pgte let's get together and talk more about this as discussed last week. It's not a trivial topic as a whole :)

I had some time to finally properly work on [A JavaScript library of CRDTs](https://github.com/orbitdb/crdts). I also realized that there's a strong need for one as the JS world's CRDTs are all over the place and not coherently presented in one place (code and docs). The module was cre

[2017-12-11 09:29] haadcode opened #18 "A library of Conflict-Free Replicated Data Types for JavaScript"
Here's a CRDTs library for JavaScript:
https://github.com/orbitdb/crdts

I started the module long ago to be used in [OrbitDB](https://github.com/orbitdb/orbit-db) and in fact, we've used the G-Counter provided by the module since day 1 in OrbitDB.

Having worked on CRDTs for some time now, I realized that **there's a strong need for a JavaScript module** as the JS world's CRDTs are all over the p

[2018-01-23 18:29] miyazono opened #21 "Recurring research call"
We're starting up an hour-long regular research call on Fridays, 10 am Pacific (1800 UTC).

@diasdavid is working on adding it to the IPFS community calendar.

@pgte, @haadcode, I'd love to have you join and discuss research updates, questions, and developments, as well as tagging anyone else who should be involved.

[2018-01-24 00:43] diasdavid commented on #21
<img width="1674" alt="image" src="https://user-images.githubusercontent.com/1211152/35308426-8efd19fa-005c-11e8-984c-2d24c530d131.png">

https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com&ctz=America/New_York

[2018-01-24 13:26] pgte opened #22 "IPFS Dynamic Data and Capabilities Working Group"
Hi there!

I'm here announcing the new [IPFS Dynamic Data and Capabilities Working Group](https://github.com/ipfs/dynamic-data-and-capabilities). This new group has the goal of researching and developing the building blocks that enable collaborative applications, providing solutions for security, identity, access control, concurrency, synchronization, offline and near-real-time collaboration on to

[2018-01-25 09:45] pgte commented on #21
Unfortunately at this hour I cannot attend.

[2018-01-25 12:20] haadcode commented on #21
Same for me, I have something else every week at that time. I feel the timing is a little unfortunate for Europeans in general.

Perhaps @cmeiklejohn @r-marques @shamb0t might be interested to know this is happening and join some times.

[2018-01-25 20:42] miyazono commented on #21
Would an hour or 90 minutes earlier be amenable, @pgte @haadcode?  Much earlier than that becomes quite difficult for some of our Californians.

[2018-01-26 09:20] pgte commented on #21
An hour earlier would be amenable, but I may have to miss some calls now and then.

[2018-01-30 18:35] miyazono commented on #21
how do people feel about Wednesday at 9am Pacific (5pm UTC)?  Can anyone not make that

[2018-01-30 21:42] pgte commented on #21
I can make that.

On 30 Jan 2018, 18:35 +0000, Evan Miyazono <notifications@github.com>, wrote:

[2018-02-06 10:17] pgte opened #23 "Snapshotting for fast sync"
Recently there have been some discussion around problem of nodes having to download the entire operation tree (which could be slow) in order to catch up.

If you're interested in this problem you can take a look and chime in here:
https://github.com/ipfs/dynamic-data-and-capabilities/issues/14

[2018-02-07 16:32] diasdavid commented on #2
A new CRDT impl appears 🌟 https://github.com/wehriam/ipfs-observed-remove //cc
@wehriam

[2018-02-08 00:05] mattlenz opened #24 "Automerge"
Automerge (https://github.com/automerge/automerge) uses CRDTs. There is a discussion on Hacker News (https://news.ycombinator.com/item?id=16309533)

[2018-02-08 00:06] mattlenz commented on #24
and a related paper https://arxiv.org/abs/1608.03960

[2018-02-08 09:50] pgte commented on #11
Published a generic CRDT library named [peer-crdt](https://github.com/ipfs-shipyard/peer-crdt#peer-crdt) that assumes immutable underlying store (like IPFS) and retrieval network, but is store and network-independent.

It [implements a subset of the most famous CRDTs](https://github.com/ipfs-shipyard/peer-crdt/tree/master/src/types) and allows you to [extend this collection](https://github.com/ipf

[2018-02-12 07:06] miyazono commented on #21
@diasdavid, can you please make this calendar change?  Specifically, Wednesday at 9:30 pacific (2 days and 30 minutes earlier) and make it only 30 minutes long (we can make it an hour again when we start running out of things to say.

[2018-02-12 08:08] diasdavid commented on #21
@miyazono done :)

[2018-02-15 16:47] diasdavid commented on #24
@pgte have you looked into this one? Also https://github.com/automerge/automerge/issues/54

[2018-02-15 17:41] pgte commented on #24
Yes I have, throughly. It's a very interesting CRDT that minimizes data loss over deeply nested JSON structures. Looking at this specific issue now..

[2018-02-20 06:27] gpestana commented on #1
Distributed forums/billboards/etc..

[2018-02-28 15:19] RangerMauve commented on #1
Building up a distributed search index for a distributed search engine

[2018-03-09 16:27] bieniusa commented on #14
Hey @haadcode !
I was just made aware of your interest in AntidoteDB .
As a unique feature (afaik), AntidoteDB is offering support for transactions (i.e. consistent reads from snapshots and atomic propagation of grouped updates). We are also working on mechanisms for offering optional stronger consistency. The bounded counters are a typical example for that.

If you have any questions, let me know

[2018-03-16 11:51] pgte opened #25 "fast multi-log sync"
A proposal for for fast sync of multi-log (used, for instance, in operation-based CRDTs):
https://github.com/ipfs-shipyard/peer-crdt/issues/2

[2018-03-19 21:11] pgte commented on #23
## δ-CRDT

State-based CRDTs ensure convergence through disseminating the entire state, that may be large, and merging it to other replicas; whereas operation-based CRDTs disseminate operations (i.e., small states) assuming an exactly-once reliable dissemination layer.

Operation-based CRDTs disseminate operations (i.e., small states) assuming an exactly-once reliable dissemination layer.

This pa

[2018-03-20 17:35] sunny-g commented on #23
Link to the paper: https://www.sciencedirect.com/science/article/pii/S0743731517302332

[2018-03-21 12:15] pgte commented on #23
Missed that, thank you @sunny-g !

[2018-04-02 11:16] harrshasri commented on #7
@pgte Hi Pedro Teixeira,
Thanks a lot! Can you rewrite this in Webpack or just send me the webpack config .js file ?
 I am struggling integrating with my webpack build codebase.

[2018-04-02 13:30] pgte commented on #7
@harrshasri I'm far from a webpack expert, so I can't really help you on this.
What issues are you having?

[2018-04-04 05:58] harrshasri commented on #7
Hey Pedro,
I Figured it out. I rewrote your application with Webpack.
So for folks who want to work on ES6 YJS And IPFS. Feel free to use it.

https://gist.github.com/harrshasri/eade60a3102859fc419e71435939437b

[2018-04-09 09:28] #5 closed

[2018-04-09 09:30] pgte opened #29 "Generic delta-state CRDT library"
Generic JS library that implements delta state-based CRDTs like [described here](https://arxiv.org/abs/1603.01529).

[2018-04-13 07:44] pgte opened #30 "Garbage-collection in op-based CRDTs"
A naive implementation of operation-based CRDTs require the nodes to keep the entire history of operations so that new nodes may join the CRDT. This brings some issues: local storage and convergence time for new nodes (shopping the entire set of operations may take a long time).

The [seminal CRDT paper](https://scholar.google.pt/citations?view_op=view_citation&hl=en&user=NAUDTpMAAAAJ&citation_for

[2018-04-13 07:50] pgte opened #31 "δ-CRDTs"
# Delta State Replicated Data Types

Paper: https://arxiv.org/pdf/1603.01529.pdf

State-based CRDTs work by replicating the entire state in each message and by providing a merge function that merges two states (the remote state and the local state) into a new state that includes both. They provide strong eventual consistency (SEC) even though they do not require a reliable delivery mechanism. If t

[2018-04-13 16:26] pgte commented on #31
## Some examples of more complex CRDTs

This first example of a δ-CRDT does not require distinguished node identifiers for the mutations.

But before we do this, we need to introduce some concepts: a **Pair** and a **Lexicographic Pair** of join semi-lattices.

## Pair

![Pair](https://user-images.githubusercontent.com/47910/38746420-4dd34284-3f3f-11e8-9e1a-a75715b5d494.png)

The join of a pair is

[2018-04-14 22:05] archagon opened #32 "Causal Trees and "Operational" CRDTs"
Hi! Any interest in including my recent article *[Data Laced with History: Causal Trees & Operational CRDTs](http://archagon.net/blog/2018/03/24/data-laced-with-history/)* in the discussion? My focus is mostly on CvRDTs, so I'm not sure if this is exactly synergetic with the goals of IPFS; but I do have a working (proof-of-concept) implementation for both macOS and iOS, and I intend to keep polish

[2018-04-16 14:10] marcoonroad commented on #2
There's [Irmin](http://github.com/mirage/irmin). While it doesn't implements CRDTs per se, it exposes an interface for user/custom CRDT implementations, and likewise, a Git backend for persistence. It is somehow in "early"/research stages of development, yet, despite its production usage in some restricted areas/fields. It's worth a reading, tho.

[2018-04-16 22:37] archagon commented on #32
Thank you for the feedback!

Not exactly, since the delete operations and their targets can be removed in the garbage collection step. Any causally-dependant operations just have to be fixed in place when that happens.

Fundamentally, a CT ORDT and an RGA CRDT work pretty much the same. The mechanics map nearly 1 to 1. The main difference is that RGA doesn't treat operations as fundamental units o

[2018-04-17 07:43] pgte commented on #32
@archagon thanks so much for the explanation, it was very clear to me!

Just one question left, and it's regarding garbage collection ([which is an issue I'm very much interested in understanding better](https://github.com/ipfs/dynamic-data-and-capabilities/issues/2)):

In my work we're dealing with a p2p loosely-connected network with probably high churn, making it, in my opinion, hard(er) to get

[2018-04-17 12:57] pgte commented on #22
Dynamic Data and Capabilities Working Group biweekly sync up is today at 2pm UTC:
https://github.com/ipfs/dynamic-data-and-capabilities/issues/19
Feel free to join us!

[2018-04-18 09:44] miyazono commented on #22
that's a bit painfully early in California, but I'd love to follow along in the future.  Are the biweekly sync ups recorded somewhere?

[2018-04-18 09:51] VictorBjelkholm commented on #22
@miyazono AFAIK, they all get uploaded to our Youtube channel (at least). Full list: https://www.youtube.com/channel/UCdjsUXJ3QawK4O5L1kqqsew/videos?disable_polymer=1

Last video: https://www.youtube.com/watch?v=b_UsT9mYMwg

[2018-04-18 09:58] pgte commented on #22
@miyazono agree, I was thinking of moving it up 2 hours.

[2018-04-18 10:09] pgte commented on #22
Rescheduled: https://github.com/ipfs/dynamic-data-and-capabilities/issues/20

[2018-04-19 08:51] kggp1995 commented on #7
This is great! Can we consume the CRDTs from a "net" based P2P GoLang CLI application.
Say next-gen `vim` if you will :)
Can someone help me out if there's progress on this already?

[2018-04-19 08:54] harrshasri commented on #7
@kggp1995 This is using yjs...As long as you can pipe it to node module of yjs you can

[2018-04-19 08:59] kggp1995 commented on #7
Ok. How about this: https://github.com/orbitdb/ipfs-log

[2018-04-19 09:01] harrshasri commented on #7
@kggp1995 I haven't worked much on ipfs-log but it is supposed to be the replacement for yjs. YJS is a hack until the CRDT libraries get stable.

[2018-04-19 18:10] gedw99 commented on #7
automerge is better than yjs. i used to use yjs try automerge. Its less
onerous and much better supported.

On Thu, 19 Apr 2018 at 11:01 harrshasri <notifications@github.com> wrote:

[2018-04-24 08:17] pgte opened #35 "explain the JSON-CRDT paper"
Task: read [the paper](https://arxiv.org/pdf/1608.03960.pdf), resume and explain how the JSON-CRDT should work.

[2018-04-24 08:24] pgte commented on #35
No apologies necessary, didn't come out as that.

I didn't realize there was [an internals explanation file in that repo](https://github.com/automerge/automerge/blob/master/INTERNALS.md). Is this what you were referring to? This is a good explanation, thank you!

If so, the sections "Applying operations to the local state" and "Querying the local state" are still unexplained, so perhaps this issue

[2018-04-24 09:04] gpestana commented on #35
The `automerge` README looks really nice, thanks for putting it together and sharing @pvh!

@pgte how do you think it's the best way to 'explain how the JSON CRDT' works? Technical post, video, anything else ?

I think we could use the automerge documentation as a first step and add the missing parts. I like the approach in which there is code examples throughout the explanations, it makes it easy

[2018-04-24 10:50] pgte commented on #35
Whatever you feel inclined to do.
I recommend either:

a) reading and expanding [the internals of automerge](https://github.com/automerge/automerge/blob/master/INTERNALS.md)
or
b) create a more abstract explanation here ([in the light of what I did for delta-CRDTs](https://github.com/ipfs/research-CRDT/issues/31))
c) use a to drive b
d) ... ?

[2018-04-24 11:04] gpestana commented on #35
Sounds good, I will think about how to approach it. But I like the idea of expanding the internals of automerge and create a more abstract explanation with base on that.

[2018-04-24 15:19] pvh commented on #35
Pull requests, as they say, are welcome.

[2018-04-27 09:00] archagon commented on #32
Sorry for my delay in replying!

If the ORDTs are used in a state-based (CvRDT-like) way, you could allow sites to concurrently set the baseline, but then on merge, simply retain or restore any deleted operations within the baseline whose absence would cause orphans to occur, as an exception to the regular compaction rules. (So, for example, if you’ve already removed part of your local string ORDT

[2018-04-27 10:10] pgte commented on #32
@archagon To me the path to compaction is now clearer. Thank you for explaining this!

[2018-05-10 05:52] gpestana commented on #1
Distributed todo/task manager app - This could even be a nice 'hello world' sort of app with JSON CRDTs

[2018-05-15 18:38] htrob commented on #1
I'm working on a collaborative knowledge-graph editing interface, currently trying to use the PubSub api, but moving data sync to a CRDT subsystem would free time for more application-specific work, doing less basic plumbing.

It would surely accelerate application development cycles and the rate of adoption of such applications by the public.

Any chance we see any of this in go-ipfs?
I'm working

[2018-05-28 14:10] pgte commented on #31
Just released: implementation of delta state-based CRDTs in Javascript: https://github.com/ipfs-shipyard/js-delta-crdts

[2018-05-29 15:28] gpestana commented on #35
@pgte should this issue be closed?

[2018-05-29 22:16] pgte commented on #35
@gpestana, yes, thank you!
Fixed via https://github.com/ipfs/research-CRDT/pull/36
Doc landed on https://github.com/ipfs/research-CRDT/blob/master/research/json-crdt.md

[2018-05-29 22:16] #35 closed

[2018-06-10 18:44] salzhrani opened #39 "Questions about choosing a replication strategy"
Would appreciate your feedback on figuring out the best approach for collaborative editing on JSON documents.

I am hoping to add collaborative editing to a project I am working on, which currently uses websockets to send diffs generated by [jsondiffpatch](https://github.com/benjamine/jsondiffpatch) to the backend where it applies the diff and stores the result. and no concurrent editing even by t

[2018-06-11 08:39] pgte commented on #39
@salzhrani I’m curious, why do you think JSON-CRDT is not a good fit?

[2018-06-11 13:22] salzhrani commented on #39
I think mainly due to the lack of garbage collection and maybe how automerge is implemented. I might be wrong

[2018-06-12 08:50] pgte commented on #39
@salzhrani Ha, ok. That's more of a general problem regarding op-based CRDTs and not JSON-CRDT itself.

It feels like you're looking for a [delta-based](http://haslab.uminho.pt/ashoker/files/deltacrdt.pdf) JSON CRDT, where, instead of mutators, you have delta-mutators that return __a representation of the effect__ (instead of an operation). If one doesn't exist (I don't know any) you could try to

[2018-06-12 14:30] salzhrani commented on #39
Yes, thank you.

if there was to be an implementation that uses delta-mutators instead of ops, what would an overview of it look like if it is possible to say?

[2018-06-12 16:02] pgte commented on #39
I don't know the exact internals of the JSON-CRDT, but, according to the delta-CRDT spec, a delta-mutator returns a minimal version of the state, enough to represent the change but not more. This delta is not an operation, as it has to be idempotent. So you will need to know and understand the internal state of the JSON CRDT to understand how to best define a delta.

[2018-06-13 08:30] pgte opened #40 "CRDTs in the wild"
I've been asked yesterday at this meetup, and I couldn't list all In this issue I'd like to collect some of the people, companies and products using CRDTs in production.

/cc @CBaquero @gyounes @vitorenesduarte

[2018-06-13 08:31] pgte commented on #40
[Consistency without Consensus: CRDTs in Production at SoundCloud](https://www.slideshare.net/InfoQ/consistency-without-consensus-crdts-in-production-at-soundcloud)

[2018-06-13 08:40] pgte commented on #40
[Big(ger) Sets: Making CRDT Sets Scale in Riak by Russell Brown](https://www.youtube.com/watch?v=f20882ZSdkU) (video)

[2018-06-13 08:41] vitorenesduarte commented on #40
A few weeks ago we had the exact same question.

Use-case | Company, Project, or Developer | CRDT model | Link
-- | -- | -- | --
DB with Causal transactions | Antidote/Syncfree | Op-based | https://syncfree.github.io/antidote/ |  
Concurrent and Distributed Applications Framework | Akka | State-based/Delta-based | https://doc.akka.io/docs/akka/2.5.12/distributed-data.html |  
Colaborative Editing

[2018-06-13 17:14] gritzko commented on #40
I think, we may add these two:
https://github.com/google/xi-editor
https://github.com/atom/xray

[2018-06-18 12:51] salzhrani commented on #39
I am experimenting with automerge until it or something else gets better.

Thanks

[2018-06-18 12:51] #39 closed

[2018-07-07 11:34] gpestana commented on #29
@pgte is this issue still open? how about the work done here https://github.com/ipfs-shipyard/js-delta-crdts ?

[2018-07-08 16:53] pgte commented on #29
@gpestana good call, closing the one! :)

[2018-07-08 16:53] #29 closed

[2018-08-17 14:48] pgte commented on #31
Delta-crdts demo: https://www.youtube.com/watch?v=Cn9pIX8BWIU (video).

[2018-08-17 19:02] htrob commented on #31
This is great.  Do you envision any of this be available through the
go-ipfs api?

On 17 August 2018 at 11:48, Pedro Teixeira <notifications@github.com> wrote:

[2018-08-20 10:58] pgte commented on #31
@htrob currently there are no plans for it, but there's [peer-star](https://github.com/ipfs-shipyard/peer-star-app), which underneath uses js-ipfs and delta-crdts.

[2018-11-09 20:42] sunny-b commented on #40
Some other developers and I created an open source collaborative text editor using a CRDT: https://github.com/conclave-team/conclave

The CRDT we used was inspired a lot by this one: https://github.com/Chat-Wane/LSEQTree

In case that's useful at all.

[2018-11-10 14:33] schrepfler commented on #40
Bet365 https://www.youtube.com/watch?v=WXmO1IvzIZY

[2019-02-12 12:58] hsanjuan opened #45 "Merkle-CRDTs paper (draft)"
Hi all,

In November/December I allocated time to dive into CRDTs because of upcoming features in IPFS Cluster[https://github.com/ipfs/ipfs-cluster]. I read a lot of the literature and this eventually led me to the current and past CRDTs efforts within our ecosystem. Unfortunately I could not  find anything officially published or formalized, and I had some some ideas of my own.

The result is a p

[2019-02-12 16:47] gritzko commented on #45
Very interesting.
Right now, I am working on blending Causal and Merkle structures (cause they are essentially the same).
Some preliminary texts are online at http://replicated.cc
I would definitely like to read your paper.

[2019-02-12 17:10] gritzko commented on #45
I think, we may even add RON 2.1 Merkle structure to the paper.
It has some special features. RON 2.1 has a formally defined op format, including the so-called "nominal" (internal) fixed-width form. That allows to define a Merkle structure on the op graph itself. Hence, RON2.1 hashes are completely independent of any actual serialization.
http://replicated.cc/specs/hash/
http://replicated.cc/specs

[2019-02-13 09:42] pgte commented on #45
@vitorenesduarte @CBaquero @gyounes This may interest you.

[2019-02-13 09:51] ianopolous commented on #45
In Peergos we use a merkle CHAMP as a state based CRDT.

[2019-02-13 09:52] vitorenesduarte commented on #45
Thanks @pgte.
@hsanjuan Can you add us to the repository?

[2019-02-13 10:09] gritzko commented on #45
I am on page 15 so far. The Merkle clock idea has its logic. Albeit, I would advise against using that term.
You'll need a full event database to use those. Sequence numbers and Lamport clocks are directly comparable. Hashes are not.
If any timestamp comparison requires multiple round-trips to the database, that's brutal.
Hence, this type of clock is hardly distinguishable from the dataset itself.

[2019-02-13 10:23] gritzko commented on #45
One way of mixing Merkle and Lamport it identifiers is to de-collision logical time with hash bits. If we define such a "Merkport timestamp": 64 bits for a logical time counter,  64 bits for (lead) data hash bits. That is not cryptographically strong, of course. It is merely collision/corruption resistant. It is also directly comparable.
This scheme has its issues too: hash bits are not compressib

[2019-02-13 10:38] gritzko commented on #45
With the op based approach,  the op hash is often bigger than the op itself.

[2019-02-13 10:49] hsanjuan commented on #45
@gritzko please let's discuss in issues the actual paper repo. Short answer is Merkle-Clocks are a full event datastore (the DAG). The storage space and comparison trade-off is a well known and highlighted limitation. But it's still a clock because it can provide ordering for events.

@vitorenesduarte done!

[2019-02-13 11:00] hsanjuan commented on #45
@ianopolous where can I read more about it?

[2019-02-13 11:31] gyounes commented on #45
@hsanjuan thanks

[2019-02-16 10:01] Danbo3004 commented on #45
I am starting my research as an undergrad and would like to learn more about your paper. Could you please add me to the repo?
Thank you very much

[2019-02-19 17:39] ianopolous commented on #45
@hsanjuan We haven't written up any prose explanations of it, but here's a summary:

Merkle-champs have a property that makes them perfect for building CRDTs with - convergence. Unlike, say, a merkle-btree whose final root hash depends on the order you add the mappings, a CHAMP is insertion order independent. So if different nodes for example are adding different mappings/elements to a champ, then

[2019-02-22 16:32] aboodman commented on #45
The Noms team used prolly trees as state-based crdts in a few applications. Prolly trees have the same advantages as champs for this usecase, and some additional advantages:

- efficient sorted scans (like a btree)
- optimal distribution of node size (tree nodes will always be distributed around a target size rather than starting empty and "filling up" to a target size)

There are also disadvantag

[2019-02-23 18:20] julianpistorius commented on #45
@hsanjuan could you please add my handle to the repo?

[2019-02-23 19:57] aboodman commented on #45
Here are some links to the relevant Noms work in case people are interested in reviewing:

https://github.com/attic-labs/noms
[prolly trees intro](https://github.com/attic-labs/noms/blob/master/doc/intro.md#prolly-trees-probabilistic-b-trees)
[prolly tree details](https://docs.google.com/presentation/d/18zRxxI7plB0mJkhLPfo8KJ_f-tyIIPj9L4dZroyqEF0/edit#slide=id.g3615e39343_0_0)

I always meant to w

[2019-02-24 00:50] geoah commented on #45
@hsanjuan woa this sounds amazing!! :D would it be possible to either get added to the repo? I'd be really interested in this.

[2019-02-26 05:48] Danbo3004 commented on #45
@hsanjuan Too bad I have been kicked out by github. Can you please add me in the repo again? Thank you very much.

[2019-02-26 20:57] doubtingben commented on #45
could you please add my handle to the repo? :pray:

[2019-02-27 05:08] 5310 commented on #45
If possible I would like to read the draft as well.

[2019-02-27 05:20] olebedev commented on #45
If possible I would like to read the draft too.

[2019-02-27 18:25] npfoss commented on #45
Could you please add me as well? This sounds super cool

[2019-02-28 08:37] DePizzottri commented on #45
@hsanjuan I'mo doing some research on decreasing the dimension of logical clocks regarding CRDTs. It would be very interesting to take a look on your paper.

[2019-03-01 06:47] songjiayang commented on #45
Sounds good, thanks.

[2019-03-01 22:28] ldub commented on #45
Could you also add me? Would love to read this paper over the weekend.

[2019-03-02 10:31] xhipster commented on #45
+1

[2019-03-02 16:13] zhujo01 commented on #45
could you please add my handle to the repo? Thanks.

[2019-03-03 07:31] rgrover commented on #45
I'd like access as well, please.

[2019-03-05 13:07] kjzz commented on #45
I'd like access as well, please.

[2019-03-06 04:08] kjzz commented on #45
could you please add my handle to the repo? Thx a lot @hsanjuan

[2019-03-28 18:02] tg-x commented on #45
@hsanjuan I'd like to have a look at the paper repo as well

[2019-04-15 18:01] alinz commented on #45
@hsanjuan could you add me to the paper as well?

[2019-04-17 02:12] thomas-gardner commented on #45
@hsanjuan  could I also have a look at your preprint?

[2019-04-19 07:08] glesserd commented on #45
Me too :) @hsanjuan

[2019-04-23 16:40] jsimnz commented on #45
Would love to get access to the paper. Thanks!

[2019-04-23 16:43] llelf commented on #45
@hsanjuan I’d love to look at it too

[2019-04-23 23:13] axefrog commented on #45
@hsanjuan I'd love access to this too, please!

[2019-04-25 12:44] postables commented on #45
Would love access as well :D

[2019-05-04 07:53] litvintech commented on #45
@hsanjuan please, give me access to the paper. Appreciate

[2019-05-04 14:57] schrepfler commented on #45
Hi @hsanjuan, can you share the access to this paper with me please?

[2019-05-15 16:57] hsanjuan commented on #45
Hi all, after the last batch of revisions, I have put the latest version of the paper draft here: http://hector.link/presentations/merkle-crdts/merkle-crdts.pdf and I will update it regularly.

[2019-09-02 05:27] haadcode opened #47 "IPA: invariant-preserving applications for weakly consistent replicated databases"
There's a (new?) paper called [IPA: invariant-preserving applications for weakly consistent replicated databases](http://www.vldb.org/pvldb/vol12/p404-balegas.pdf).

[The Morning Paper break down of the paper](https://blog.acolyer.org/2019/09/02/ipa/) is a good summary.

**Abstract** of the paper:

_"It is common to use weakly consistent replication to achieve high availability and low latency at

[2019-10-02 19:33] dvc94ch commented on #30
Have you looked into hashgraph? It's not mentioned in the merkle-crdt paper as a reference, but it looks like an option to perform compaction. It reaches consensus without voting by turning the gossip tree that spreads messages into a merkle dag. Then it performs virtual voting to get linearizability. I'm not sure how it handles nodes dynamically joining and leaving yet, but it looks like an appli

[2019-10-02 20:13] aschmahmann commented on #30
From what I recall hashgraph either has trouble dealing with dealing with nodes dynamically leaving and joining. However, if each node has some voting power, they can choose to give that some of that power to another node.

If you look at https://github.com/ipfs/notes/issues/379 you'll notice that life is a whole lot easier in closed groups (e.g. all parties known in advance) than open groups. Usi

[2019-10-03 07:24] dvc94ch commented on #30
What you are describing is essentially proof-of-authority without a leader selection mechanism. I agree that it is much harder and at that point you are building a full-fledged blockchain. Currently I'm interested in the single-writer and closed multi-writer use cases, that I think have tons of applications, don't require a blockchain and are underrepresented. A blockchain is poorly suited for tho

[2019-10-03 08:33] pgte commented on #30
Here I briefly describe causal stability: https://github.com/ipfs/dynamic-data-and-capabilities/issues/2#issuecomment-392461046

Unlike the solution I point out (using vector clocks), theoretically it boils down to knowing the envolved peers and finding the lowest common ancestor in a causal tree.

[2019-10-03 09:13] aschmahmann commented on #30
👍 I agree that closed multi-writer has plenty of use.

👍. This should hopefully work in high traffic + participation CRDTs, however if participation is low (and users do not or cannot leave the CRDT) then we have trouble. One escape hatch here is to do a "vote with your feet" approach by basically forking the CRDT and advertising your fork in (or related to) the original CRDT. This allows the CRDT

[2019-10-03 09:15] dvc94ch commented on #30
@pgte can you explain how delta-crdts avoid the issue? also to be byzantine fault tolerant you can't just compact without a consensus on the hash of the compacted log, since that is what you are sending to someone who joins the network after compaction.

[2019-10-03 09:19] pgte commented on #30
@dvc94ch this solution is not BFT.

[2019-10-03 11:24] hsanjuan commented on #30
The whole gist of this thing is whether there is a way to actually do it without consensus.

Or otherwise a way to do it  given some small constraints that do not amount to having full consensus (and what are those, and for what scenarios would work).

[2019-10-03 15:52] dvc94ch commented on #30
That severly constrains it's utility in a p2p context imo. I started implementing hashgraph. I think I should have a naive implementation in 1-2 weeks. My plan is to use that to create a p2p replicated sled. (If you don't know sled it's an embedded db written in rust, I'm pretty sure it's going to get known outside the rust community soon).

[2020-02-04 01:46] #9 closed

[2020-02-04 01:46] #8 closed

[2020-02-04 01:47] #6 closed

[2020-02-04 01:47] #4 closed

[2020-02-04 01:47] #3 closed

[2020-02-04 01:47] #2 closed

[2020-02-04 01:47] #1 closed